# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes/
!.idea/scopes/**
!.idea/runConfigurations/
!.idea/runConfigurations/**
!.idea/icon.svg

# gradle
build
.gradle
dist
.dist

# other
eclipse
run
runs

**/node_modules
**/yarn.lock
**/package.lock.json
**/bun.lock
